.container {
    background-color: #c4c4c4;
    color: #d60000;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
    max-width: 800px;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #000000;
    padding-bottom: 0.5rem;
}

.embedWrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
